nav {
    color: var(--text-01);
    font-weight: 600;
    height: 64px;
    background: var(--light-01);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--pg-margin);
    border-bottom: 1px solid #203F51;
    z-index: 100;
  }
  
  
  nav ul.navigation-menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    position: relative;
    top: 0;
  }
  
  
  nav .navigation-menu a {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-01);
  
  
  }
  
  
  nav .navigation-menu > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    justify-items: center;*/
  }
  
  
  nav .navigation-menu > li > a {
    position: relative;
    /*    border: 1px solid purple;*/
    padding: 0 20px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  
  nav .navigation-menu > li:hover ul.subnav {
    visibility: visible;
    opacity: 1;
    top: 64px;
  
  
  }
  

  nav .navigation-menu > li > ul.subnav {
    /*    border: 1px solid green;*/
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 66px;
    background: var(--light-01);
    box-shadow: var(--card-hover);
    border-radius: 12px;
    opacity: 0;
    transition: var(--hover-timing);
  }
  
  
  
  nav > #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 8px;
    line-height: 100%;
    width: 200px;
  }
  
  
  nav > #logo > span {
    font-size: 32px;
  }
  
  
  nav > #utility {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 16px;
  }
  
  .Mille {
    display: flex;
    flex-direction: row;
    grid-gap: 16px;
  }

  nav {
    position: relative;
}


nav ul.navigation-menu {
    position: absolute;
    position: absolute;
    top: 64px;
    background: var(--light-01);
    left: 0;
    z-index: -1;
    width: 100vw;
}


nav ul.navigation-menu li a {
    font-size: 16px;
    padding: 0 12px;
    white-space: nowrap;
}


nav ul.navigation-menu .subnav {
    display: none;
}


nav ul.navigation-menu > li:hover .subnav {
    display: none;
}


nav {
    position: relative;
}


nav ul.navigation-menu {
    position: absolute;
    top: 64px;
    background: var(--light-01);
    left: 0;
    z-index: -1;
    width: 100vw;
}


nav ul.navigation-menu li a {
    font-size: 16px;
    white-space: nowrap;
}


nav ul.navigation-menu .subnav {
    display: none;
}


nav ul.navigation-menu > li:hover .subnav {
    display: none;
}

nav ul.navigation-menu {
    top: 0;
    z-index: 1;
    background: none;
    width: auto;
    position: relative;
}


ul.subnav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 48px;
}


nav ul.navigation-menu > li:hover .subnav {
    display: grid;
}

.logo {
  position: relative;
  z-index: 100;
}

